<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=ktor-app,host=${SERVICE_ID}:invoicer,level=%level</pattern>
            </label>
            <message>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
        <batch>
            <maxItems>100</maxItems>
            <maxBytes>4194304</maxBytes> <!-- 4MB -->
            <timeout>5</timeout> <!-- 5 seconds -->
        </batch>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOKI"/>
    </root>

    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="redis.clients.jedis.JedisFactory" level="WARN"/>

</configuration>