<configuration>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- Variável de ambiente LOGSTASH_HOST com fallback -->
        <destination>${INVOICER_LOGSTASH}</destination>

        <!-- Opcional: tempo de reconexão -->
        <reconnectionDelay>10000</reconnectionDelay>

        <!-- Keep alive para manter a conexão ativa -->
        <keepAliveDuration>5 minutes</keepAliveDuration>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"my-ktor-app","environment":"${ENV:-dev}"}</customFields>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="trace">
        <appender-ref ref="LOGSTASH"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN" />

</configuration>